body {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  height: 100vh; 
}

.hero.is-small.custom-width {
  max-width: 1300px; /* 设置你所需的宽度，比如800px */
  margin: 0 auto;  /* 居中对齐 */
}
.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 35px;
    margin-bottom: 0px;
}

.dnerf {
  font-variant: small-caps;
}

.box_container {
  display: flex;
  flex-wrap: wrap; /* 使子项在多行中显示 */
  justify-content: space-between; /* 使子项之间均匀分布 */
  align-items: center; /* 垂直方向居中 */
  max-width: 1200px; /* 限制容器的最大宽度 */
  margin: auto; 
  gap: 2px; 
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* 设置盒子之间的间隔 */
  padding-left: 300px;
  padding-right: 300px;
}
.external-link.button {
  flex: 1; /* Ensures both buttons take equal space */
  text-align: center; /* Centers the text within the button */
}
.box {
  cursor: pointer;
  background-color: #e3eef7;
  /* border: 1px solid #dddcdc; */
  border-radius: 5px;
  box-shadow: 0 2px 6px rgb(99, 114, 125);
  margin: 5px 5px 24px;
  padding: 20px;
  flex: 0 1 calc(30% - 10px); /* 使每行的五个盒子有足够的空间和边距 */
  text-align: center;
  box-sizing: border-box;
  min-height: 80px; /* 设置最小高度以确保所有盒子大小一致 */
  display: flex; /* 使用Flexbox布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.box h2 {
  font-size: 18px;
  color: #333;
}
.box:hover {
  background-color: #7da2c0; /* Change to desired hover color */
}
.box.active {
  background-color: #010101; /* Change to desired highlight color */
  color: white; 
}

.box.active h2 {
    color: white; /* Ensure h2 text color is white when active */
  }
.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.carousel-indicators {
  display: none;
}
.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.carousel-inner {
  padding: 10px; /* 设置内边距 */
}

.carousel-img {
  max-height: 200px; /* 设置图片最大高度 */
  object-fit: contain; /* 保持图片长宽比 */
}

.results-carousel {
  overflow: hidden;
  padding: 20px;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



